html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main{
    margin-left: 40px;
    margin-right: 40px;
}
h2{
    margin-top: 0;
}
header > h3{
    margin-left: 0;
}
input{
    padding: 10px;
    border: solid 1px rgb(228, 228, 228);
}
button{
    padding: 10px;
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
}
.search{
    margin: 0;
    display: flex;
}
.search > div{
    background-color: #F2F2F2;
    width: 25px;
    margin: initial;
    padding: 10px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
}
.search-mobile{
    display: none;
}
p{
    margin: 0;
}
h3{
    margin: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav > img{
    height: 50px;
    padding: 10px;
}
nav > ul{
    display: flex;
}
nav > ul > li{
    padding: 20px;
    border-top: solid 2px white;
}
nav > ul > li > a{
    color: black;
}
nav > ul > .rubrique:hover{
    border-top: solid 2px #0065FC;
}
nav > ul > li:hover a{
    color: #0065FC;
}
.list-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
}
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
footer > div{
    padding: 20px;
}
.hebergement{
    width: 30%;
    height: 250px;
    cursor: pointer;
    box-shadow: 0px 0px 6px #555;
    border: solid white 5px;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.hebergement > div > h4{
    margin: 0px;
}
.hebergement > div{
    display: flex;
    flex-direction: column;
}
.hebergement > div > h4, p, div{
    margin: 5px;
}
.fa-star{
    color: #c8c8c8;
}
.colored{
    color: #0065FC;
}
.hebergement > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.ctn-list{
    display: flex;
    justify-content: space-around;
}
.list-populaire{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 20px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.list-filtre{
    display: flex;
    font-size: 18px;
    font-weight:600;
}
.list-filtre > div{
    margin: 20px;
}
.ctn-filtre{
    padding: 5px 5px 5px 40px;
}
.list-filtre > div:first-child{
    align-self: center;
    margin-left: 0;
}
.ctn-info{
    padding: 5px;
    width: fit-content;
    border: solid rgb(207, 207, 207) 1px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
}
.rubrique-hover > a{
    color: #0065FC;
}
.sec-activites{
    margin-bottom: 30px;
}
.activites{
    width: 20%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.title-act{
    padding: 10px;
    font-weight: 600;
}
.act-v2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin: 0;
}
.ctn-act{
    flex-direction: column;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.act-1{
    box-shadow: 0px 0px 6px #555;
    background-color: white;
}
.act-4{
    background-color: white;
    box-shadow: 0px 0px 6px #555;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.act-2{
    background-color: white;
    box-shadow: 0px 0px 6px #555;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.act-3{
    height: 40%;
    background-color: white;
    box-shadow: 0px 0px 6px #555;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.img-act{
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.info{
    display: flex;
    margin-bottom: 40px;
}
.list-populaire > div{
    display: flex;
    flex-direction: column;
    height: 650px;
}
.desc-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.populaire{
    cursor: pointer;
    display: flex;
    height: 180px;
    box-shadow: 0px 0px 6px #555;
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    border: solid 5px white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.info > div:not(:first-child){
    align-self: center;
}
.ctn-info > i{
    width: 20px;
}
.list-filtre >  div:not(:first-child){
    position: relative;
    display: flex;
    background-color: white;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition:  all .3s;
    text-align: center;
    -webkit-transition:  all .3s;
    -moz-transition:  all .3s;
    -ms-transition:  all .3s;
    -o-transition:  all .3s;
}
.list-filtre >  div:not(:first-child):hover{
    color: white;
    background-color: #0065FC;
}
.ctn-ico-filtre{
    background-color: #DEEBFF;
    padding: 12px;
    position: absolute;
    left: 10px;
    transform: translate(-50%, -50%);
    top: 40%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.ctn-ico-filtre > i{
    width: 22.5px;
}
.rubrique-mobile{
    width: 50%;
    padding: 10px;
    text-align: center;
}
.rubrique-mobile{
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #e2e2e2;
}
.rubrique-hover-mobile{
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #0065FC;
}
.rubrique-mobile > a{
    color: #0065FC;
}
.rubrique-hover-mobile > a{
    color: #0065FC;
}
.nav-mobile > ul{
    display: flex;
    padding-inline-start: 0;
}
.nav-mobile{
    display: none;
}
.nav-mobile > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile > div > img{
    width: 100px;
}
.nav-mobile > div > li{

}
.list-heberg{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 20px;
    background-color: #F2F2F2;
    width: 60%;
}
.img-act2{
    object-fit: cover;
    width: 100%;
    height: 220px;
}
.img-act3{
    object-fit: cover;
    width: 100%;
    height: 140px;
}
.populaire-head{
    display: flex;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
    height: auto!important;
    font-size: 20px;
}
.populaire > img{    
    width: 55%;
    object-fit: cover;
}
  @media only screen and (max-width: 900px) {
    nav{
        display: none;
    }
    main{
        overflow: hidden;
    }
    .main{
        margin: 0;
    }
    .nav-mobile{
        display: block;
    }
    .list-filtre{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header{
        margin: 0px 20px 0px 20px;
    }
    header > h3{
        font-size: 15px;   
    }
    .ctn-list {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }
    .list-populaire{
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .populaire > img{
        width: 50%;
        object-fit: cover;
    }
    .populaire{
        height: 140px;
        margin: auto;
        margin-top: 20px;
        width: 500px;
    }
    .desc-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    h4{
        margin-bottom: 10px;
        margin-left: 8px;
        font-size: 13px;
    }
    .list-heberg{
        width: 100%;
        background: none;
    }
    .list-hebergement {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        flex-direction: row;
        align-items: center;
    }
    .ctn-act {
        flex-direction: column!important;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    .activites{
        width: 45%;
    }
    .activites > img{
        height: 190px;
    }

    .ctn-act{
        height: auto;
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
    .act-1, .act-2, .act-3, .act-4{
        height: 240px;
        margin-top: 20px;
    }
    .act-v2{
        width: 45%;
    }
    footer {
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .img-act2, .img-act3{
        height: 190px;
    }
    .img-act{
        height: 190px;
    }
    .hebergement{
        width: 45%;
        margin: 10px;
    }
    .search{
        display: none;
    }
    .fa-search{
        padding: 5px;
    }
    .search-mobile{
        display: flex;
    }
    .list-filtre > div {
        margin: 10px;
    }
    .list-populaire > div{
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .ctn-info{
        padding: 9px;
    }
    .nav-mobile{
        display: block;
    }
    .list-filtre{
        flex-direction: row;
        flex-wrap: wrap;
    }
    header > h3{
        font-size: 15px;   
    }
    .ctn-list {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }
    .list-populaire{
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .populaire > img{
        width: 50%;
        object-fit: cover;
    }
    .populaire{
        height: 140px;
        width: 90%;
        margin: 7px;
    }
    .desc-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    h4{
        margin-bottom: 10px;
    }
    .list-heberg{
        width: 100%;
        background: none;
    }
    .list-hebergement {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .ctn-act {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
    }
    .activites{
        width: 90%!important;
    }
    .activites > img{
        height: 90px!important;
    }

    .ctn-act{
        height: auto;
    }
    .act-1, .act-2, .act-3, .act-4{
        height: 140px!important;
    }
    .act-v2{
        height: 300px;
        width: 92%!important;
    }
    footer {
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 40px;
    }
    .img-act2, .img-act3{
        height: 77px;
    }
    .img-act{
        height: 100px;
    }
    .hebergement{
        width: 90%;
        margin: 10px;
    }
    .search{
        display: none;
    }
    .fa-search{
        padding: 5px;
    }
    .search-mobile{
        display: flex;
    }
    .list-filtre > div {
        margin: 10px;
    }
    .list-populaire > div{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
